div.header{
  background: rgba(0,0,0,0.5);
  padding:20px;
  position:fixed;
  top:0;
  left:0;
  right:0;
}

div.n3{position:relative;}

div.abs{
  background: rgba(255,0,255,0.5);
  padding:20px;
  position: absolute;
  top:50px; left:0;
}

div.grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap:20px;
  min-height:200vh;
}

div.box{background:#0cf;}
div.n1{
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:1;
  grid-row-end:3;
  background: rgba(255,0,255,0.5);
}
div.n2{
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:2;
  background: rgba(0,0,255,0.5);
}
