div.slide{
  border:1px solid #ccc;
  min-height:100vh;
  position:relative;
}

div.grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:4vw;
}

@media only screen and (max-width: 1000px) {
  div.grid{grid-template-columns: 1fr;}
}

div.card-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap:2vw;
  padding:2vw;
}

div.card{
  background-color: #fff;
  min-height:200px;
  box-shadow:0 2px 4px rgba(0,0,0,0.2);
  position:relative;
}

div.card:hover a.pinterest{opacity:1;}

div.card img.image{width:100%;}
div.card div.card-txt{padding:2vw;}
div.card div.card-txt h4{font-size:1.5em; margin-bottom:1em;}
div.card div.card-txt p{font-size:0.8em;}

a.pinterest{
  opacity:0;
  display:block;
  background-color:#f44;
  background-image:url(pinterest.svg);
  background-repeat:no-repeat;
  background-position: center center;
  width:32px;
  height:32px;
  position:absolute;
  right: 10px;
  top:10px;
  border-radius:50%;
  transition:opacity 0.5s;
}

img.contentimg{
  width:100%;
  align-self:center;
  justify-self:center;
}

div.contentxt{
  align-self:center;
  justify-self:center;

}
div.contentxt p{font-size:3em;}
div.contentxt h1{font-size:6em;}


div.frame{
  max-width:1000px;
  margin:0 auto;
}

img.heroimg{
  width:100%;
  height:100vh;
  object-fit: cover;
  object-position: center bottom;
}

div.herotxt{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-weight:bold;
  color:#fff;
  background-color:rgba(0,0,0,0.3);
  padding:3em;
  transition:all 0.5s;
}
div.herotxt h1{font-size:6em;}
div.herotxt p{font-size:3em;}

div.herotxt:hover{
  background-color:rgba(0,0,0,0.6);
  transform:translate(-50%,-50%) scale(1.1);
}
